.flex {
	display: flex;
}


.article-image {
	&--text-left {
		@media(min-width: 768px) {
			.article-image__gallery {
				order: 2;
			}
			.article-image__content {
				order: 1;
			}
		}
	}

	&__gallery {
		width: 50%;
		@media(max-width: 767px) {
			width: 100%;
		}
	}
	&__content {
		width: 50%;
		padding: 3em 2em;
		@media(max-width: 767px) {
			width: 100%;
		}
	}
	&__content-wrap {
		display: inline-block;
		width: 520px;
		margin: auto;
		text-align: center;
		@media(max-width: 767px) {
			width: 100%;
		}
	}
	&__title {
		margin-top: 0;
	}
	&__description {
		margin-bottom: 1.5em;
	}
	.hero-gallery,
	.image-center {
		padding-bottom: 82.5%;
	}
	@media(max-width: 767px) {
		.hero-gallery {
			padding-bottom: 0;
		}
	}
	.flex-direction-nav {
		a {
			height: 3em;
			width: 3em;
			margin-top: -1.5em;
			padding-left: 0px;
			padding-right: 0px;
			background-color: transparent;
			opacity: 0.2;
			&:hover {
				opacity: 1;
			}
			&.flex-next:before {
				font-size: 2.25em;
			}
			&.flex-prev:before {
				font-size: 2.25em;
			}
		}
	}
	.flex-control-nav {
		bottom: 0.5em;
	}
}

.article-section {
	&__image-blocks {
	color: $white;
	padding: 6em 0;
	background: $dark-grey;
		.container {
			h1 {
				font-size: 6em;
				@media(max-width: $max-width--xs) { 
					br {
						display: none;
					}
				}
				@media(max-width: $max-width--xss) { 
					font-size: 2em;
				}
			}
			p {
				font-size: 1.8em;
				max-width: 318px;
				@media(max-width: $max-width--xs) {
					max-width: 100%;
				}
				@media(max-width: $max-width--xss) {
					font-size: 1.2em;
					margin: 2em 0;
				}
			}
			.images-wrapper {
				padding: 0 1em;
				@include tablet() {
					padding: 0;
				}
				.image-block {
					width: 100%;
					float: left;
				    height: 250px;
				    padding: 1em;
				    margin-left: 0.5em;
				    position: relative;
				    background-size: cover;
					background-position: center;
					@include tablet() {
						height: 435px;
						width: 100%;
						margin-left: 0 !important;
    					margin-bottom: 4em;
					}
					@include mobile() {
						height: 205px;
					}
					a {
						right: 1em;
						bottom: 1em;
						font-size: 1.3em;
						font-weight: bold;
						position: absolute;
						text-decoration: underline;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	&__image-text {
		height: auto;
		padding: 3.8em 0;
		&.video {
			position: relative;
			padding: 0;
			height: 100vh;
			background-size: cover;
		}
		&.form {
			height: 100vh;
			h1 {
				max-width: 480px;
				margin:0 auto;
			}
			.description {
				color: #6d7278;
				max-width: 780px !important;
			}
		}
		&.white {
			background-color: #fff;
		}
		&.beige {
    		background-color: #dbc0ab;
    		h1 {
    			color: #fff;
    		}
		}
		&.lightbeige {
			background-color: $lightbeige;
		}
		.container {
			max-width: 850px;
			text-align: center;
			h3 {
				padding: 3em 0 4em;
			}
			
			@media(max-width: $max-width--xs) { 
				padding: 0 3em;
				h3 {
					font-size: 1.2em;
					padding: 0 !important;
				}
			}
		}
		.banner {
			justify-content: center;
			img {
				width: 100%;
			}
		}
		.image-text {
			width: 100%;
			display: table;
			padding: 3em;
			&.video { 
				padding: 0; 
				.text {
				    padding: 3.8em 6em 0;
				    position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    background-color: rgba(255, 255, 255, 0.8);
				    .inner-text {
				    	flex-wrap: wrap;
				    	margin: 0 auto 1em;
				    	justify-content: center;
				    	h1 {
				    		color: #6d7278;
				    		width: 100%;
				    	}
				    	.subheading {
					    	max-width: 750px;
					    	font-size: 2.5em !important;
					    	line-height: 42px !important;
					    }
				    }
				}
			}

			&.white {
				background-color: white;
			}
			&.beige {
				background-color: beige;
			}
			.text {
				padding: 0 6em;
				.inner-text {
					color: #a7a2a2;
					max-width: 1000px;
					margin: 0 auto 3em;
					text-align: center;
					h1 {
						font-size: 1em !important;
						font-weight: 300;
						padding-bottom: 1.5em;
						font-family: $menu-font-stack;
						text-transform: uppercase;
					}
					.subheading {
						font-size: 2.8em;
					    font-weight: 300;
					    line-height: 1em;
					    margin: 0 auto;
					    margin-bottom: 1em;
					    color: #5e5e5e;
					    max-width: 600px;
					    &.caption {
					    	font-size: 5.83em;
					    	margin-bottom: 0.5em;
					    	max-width: 900px;
					    }
					    @media(max-width: $max-width--xs) {
					    	font-size: 2em;
					    }
					}
					.description {
						font-size: 0.95em;
						max-width: 600px;
						margin: 0 auto;
						color: #383737;
						font-weight: 300;
						font-family: $body-font;
					}
				}
			}
			.image {
				width: 100%;
				overflow: hidden;
    			max-width: 1120px !important;
				margin: 0 auto;
				padding-bottom:  6em;
				img {
					margin:0 auto;
				}
				&.full {
					max-width: 100%;
					img {
						width: 100%;
					}
				}
				&.half {
					img {
						width: 50%;
						
					}
				}
				&.fourth {
					img {
						width: 25%;
					}
				}
				&.fifth {
					img {
						width: 15%;
					}
				}
				&.left {
					justify-content: flex-start;
				}
				&.center {
					justify-content: center;
				}
				&.right {
					justify-content: flex-end;
				}
				&:last-child() {
					padding-bottom: 0;
				}
			}

			@media(max-width: $max-width--md) {
			padding: 2em 0;
				.image {
					padding: 5em;
				}
				.text {
					padding: 0 5em;
					.inner-text {
						max-width: 100%;
					}
				}
			}
			@media(max-width: $max-width--xs) {
			padding: 1em 0;
				.image {
					padding: 3em;
				}
				.text {
					padding: 0 3em;
					h1 {
						font-size: 1.3em;
					}
					h3 ,.subheading, .description {
						font-size: 1em;
						line-height: 24px;
					}
				}
			}
			@media(max-width: $max-width--xss) {
				.image {
					padding: 0;
				}
				.text {
					padding: 0 2.5em;
				}
			}
			&.video { 
				.image-text {
					max-width: 100%;
					padding: 0;
				}
			}
		}
	}

	&__multi-image {
		&.beige {
			color: #fff;
    		background-color: #dbc0ab;
    		h1, .subheading {
    			color: #fff;
    		}
		}
		.inner-text {
			color: #a7a2a2;
			max-width: 1120px;
			margin: 0 auto 1em;
			text-align: center;
			h1 {
				font-size: 1em !important;
				font-weight: 300;
				font-family: $menu-font-stack;
				text-transform: uppercase;
			}
			.subheading {
				font-size: 2.8em;
			    font-weight: 300;
			    line-height: 1em;
			    margin-bottom: 1em;
			}
			.caption {
				font-size: 0.95em;
				max-width: 600px;
				margin: 0 auto;
			}
			.description {
				font-size: 0.95em;
			    max-width: 600px;
			    margin: 0 auto;
			    color: #383737;
			    font-weight: 300;
			    font-family: "Pangram";
			}
		}
		.images-wrapper {
			width: 100%;
    		max-width: 1120px;
			margin: 0 auto;
			justify-content: space-between;
			img {
				&.full {
					width: 100%;
				}
				&.half {
					width: 49%;
				}
				&.fourth {
					width: 24%;
				}
			}
		}
	}

	&__image-text-below {
		color: #000;
		text-align: center;
		&.beige {
			background-color: $beige;
		}
		h1 {
			color: #fff;
			font-size: 15px;
			font-weight: 300;
			font-family: $menu-font-stack;
		}
		.image-text {
			text-align: center;
			img {
				clear:both;
			}
		}
	}

	&__icon-blocks {
		color: #000;
		text-align: center;
		.image-text {
			width: 100%;
			display: flex;
    		justify-content: center;
			&.white {
				background-color: white;
			}
			&.beige {
				background-color: beige;
			}
			.text {
				padding: 0 6em;
				.inner-text {
					color: #a7a2a2;
					max-width: 1000px;
					margin: 0 auto 3em;
					text-align: center;
					h1 {
						font-size: 1em !important;
						font-weight: 300;
						font-family: $menu-font-stack;
						text-transform: uppercase;
					}
					.subheading {
						font-size: 2.8em;
					    font-weight: 300;
					    line-height: 1em;
					    margin-bottom: 1em;
					    color: #5e5e5e;
					}
					.description {
						font-size: 0.95em;
						max-width: 600px;
						margin: 0 auto;
						color: #383737;
						font-weight: 300;
						font-family: $body-font;
					}
				}
			}
		}
		.icons {
			width: 100%;
			flex-wrap: wrap;
			max-width: 1120px;
			margin: 0 auto;
			justify-content: space-between;
			.icon {
				width: 14%;
				img {
					max-width: 100px;
				}
				p {
					padding: 10px 0;
					font-size: 12px;
					margin: 0 auto;
					max-width: 120px;
					text-align: center;
					font-family: $menu-font-stack;
				}
			}
		}
		

	}
}



#lifestyle {
	.image {
		width: 100%;
		max-width: 100% !important;
	}
	.article-section__image-text {
	    padding: 0;
	}
}



.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}







