.template-projects {
	.caption-heading {
		font-family: $heading-font-stack;
		font-weight: bold;
		font-size: 6em;
		line-height: 50px;
		margin: 0 0 0.2em !important;
		text-transform: uppercase;
		text-align: left !important;
		@media(max-width: $max-width--xs) {
			font-size: 2em;
		}
	}
	.valign-parent,{
	    bottom: 0;
	    height: 65vh;
	    min-height: 50vh;
	    width: 100%;
	    display: block;
	    margin-left: 6em;
	    padding-left: 3em;
	    position: absolute;
	    border-left: 4px solid $brown;
	    @media(max-width: $max-width--xs) {
			padding-left: 2em;
			margin-left: 0;
		}
	}
	.caption {
		a {
			float: left;
		    padding: 1em 0;
		    color: #ffffff;
		    font-size: 2em;
		    background: transparent;
		}
	}
	.caption-description {
		padding-left: 5px;
		margin-top: 0 !important;
		font-size: 1.8em !important;
		text-transform: uppercase;
	}
	.hero-gallery__anchor {
		width: 380px;
		position: absolute;
		bottom: 0;
		z-index: 20;
		font-size: 1.5em;
		text-transform: uppercase;
		&:hover {
			i {
				margin-top: 0.5em;
			}
		}
		a {
			padding: 1em 0 !important;
			@media(max-width: $max-width--xss) {
				padding: 3em 0 !important;
			}
		}
		i {
			font-size: 0.9em;
			margin-right: 10px;
			transition: all 0.5s;
		}
	}
}

.template-projects {
	.slides {
		li {
			.caption {
				.valign-parent {
				border-left: 0;
					.valign {
						display: none;
					}
				}
			}
			&:first-of-type {
				.caption {
					.valign-parent {
						border-left: 4px solid #ae9853;
						.valign {
							display: block;
						}
					}
				}
			}
		}
	}
}





.project-details {
	font-family: din-2014, sans-serif;
	color: $white;
	background-color: $dark-grey;
	&__image {
		height: 100vh;
		position: relative;
		padding-bottom: 0;
		background-color: $black;
	}
	&__text {
	    left: 0;
	    bottom: 0;
	    height: 50vh;
	    color: #fff;
	    margin: 0 auto;
	    padding-left: 5em;
	    margin-left: 10em;
	    position: absolute;
	    border-left: 5px solid #ae9853;
	}
	&__title {
		font-size: 6em;
		line-height: 70px;
		margin: 0;
		margin-bottom: 20px;
		text-transform: uppercase;
	}
	&__intro {
		font-weight: normal;
		text-transform: uppercase;
	}
	&__subtitle {
		font-size: 2.6em;
		margin: 0.5em 0;
	}
	&__address {
		font-weight: normal;
	}
	&__arrow {
		bottom: 2em;
		font-size: 1.6em;
		cursor: pointer;
		transition: all 0.5s;
		position: absolute;
		text-transform: uppercase;
		&:hover {
			bottom: 1.5em;
		}
		i {
			font-size: 1em;
			margin-right: 1em;
		}
	}
	&__link {
		font-size: 1em;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		@include mobile() {
			width: 100%;
			float: left !important;
			margin-bottom: 2.5em;
		}
		&:hover {
			i { color: $black;
				margin-right: -10px;
			}
		}
		i {
			font-size: 1.3em;
			transition: all 0.5s;
		}
	}
	&__col {
		h3 {
			font-size: 2.6em;
			font-weight: bold;
		}
	}
	&__content {
		max-width: 730px;
		font-size: 1.2em;
	}
	.container {
		padding: 5em 0;
		min-height: 300px;
		@include tablet() {
			padding: 5em 4em;
		}
		@include mobile() {
    		padding: 3em 3em;
		}
		
	}
}