.projects {
	padding: 10em 0;
	background-color: $dark-grey;
		@media(max-width: $max-width--xss) {
			padding: 5em 0;
		}
	h1 {
		color: $white;
		font-size: 2.6em;
		text-align: center;
		margin-bottom: 3em;
		text-transform: uppercase;
		@media(max-width: $max-width--xss) {
			font-size: 2em;
		}
	}
	&__listing {
		max-width: 1140px;
		margin: 0 auto;
		@media(max-width: $max-width--xs) {
			padding: 4em;
		}
		@media(max-width: $max-width--xss) {
			padding: 0 2.5em;
		}
	}
	&__project {
		width: 100%;
		margin: 0 0 2em;
		display: table;
		position: relative;
		
		.image-center {
			opacity: 0.8;
			background-color: $black;
		}
		&:nth-child(2), &:nth-child(3){
			width: 48.5%;
			display: inline-block;
			.projects__project-overlay {
				h1 {
					font-size: 2.2em;
				}
			}
			.projects__project-details {
				font-size: 1.2em;
			}
		}
		
		&:nth-child(3){ 
			float: right;
		}
		@media(max-width: $min-width--sm) {
			width: 100% !important;
			margin: 0 0 3em;
		}
	}
	&__project-overlay-wrap {
		top: 0;
	    width: 100%;
	    height: 100%;
	    transition: all 0.5s;
	    position: absolute;
	    background: rgba(0, 0, 0, 0.25);
	    &:hover {
	    	background: rgba(53, 53, 53, 0.65);
	    }
	}
	&__project-overlay {
		top: 40%;
		left: 0;
		width: 100%;
		text-align: center;
		position: absolute;
		h1 {
			font-size: 4em;
		    width: 80%;
		    padding: 0.2em;
		    margin: 0 auto;
		    text-transform: uppercase;
		    border-bottom: 4px solid $brown;
		}
		@media(max-width: $max-width--xs) {
			top: 30%;
			h1 {
				width: 80%;
				font-size: 2em;
			}
		}
		@media(max-width: $max-width--xss) {
			h1 {
				width: 85%;
				padding: 0.4em;
				font-size: 1.25em !important;
			}
		}
	}
	&__project-details {
		font-size: 1.8em;
		padding: 0.4em;
		color: #fff !important;
		text-transform: uppercase;
		@media(max-width: $max-width--xss) { 
			padding: 0.1em;
		}
	}
	&__project-intro {
		@media(max-width: $max-width--xss) {
			font-size: 0.6em;
		}
	}
}