.animateMe {
	opacity: 0;
	animation-delay: 0.5s;
	
}

.animateMe.animated {
	opacity: 1;
}

.animate {
	animation-delay: 1s;
	animation-timing-function: ease-in;
}

/*.fadeIn {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}*/


.projects__project {
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}
/*.article-section__image-text .image-text {
  animation: fadeInUp 1.2s ease-in-out 0.5s forwards;
}
*/
.projects__project {
  opacity:0;
  &:nth-child(1) {
    animation-delay: 0.3s;
  }
  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(n+3) {
    animation-delay: 0.8s;
  }
 }

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}