.page-register .page-content {
	margin-top: 4.75em;
	margin-bottom: 2.75em;

	.heading {
		text-transform: uppercase;
		width: 15em;
	}

	.wysiwyg-content {
		width: 25em;
	}
}

#info-box {
	background-color: #ededed;
	color: #2A3238;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: bold;
}

#info-box.success {
	background-color: #B3F2D2;
	color: #00B257;
}

#info-box.error {
	background-color: #F2B8B3;
	color: #BC2500;
}

#info-box .notification-close {
	float: right;
	margin-top: 0.25em;
	cursor: pointer;
}

.addthis_inline_share_toolbox {
  position: absolute;
  top: -100%;
  left: -100%;
  visibility: hidden;
  opacity: 0;
}



/* Suissa */
.fas {
	font-family: 'Font Awesome 5 Pro'; 
}



body.video-out video {
	opacity: 0;
}
body.video-out header .overlay {
	display: none;
}


.navbar-light .navbar-nav .nav-link {
    color: #de8917;
}



/* HOME */

.template-home {
	.valign-parent {
	    bottom: 0;
	    height: 65vh;
	    min-height: 50vh;
	    width: 100%;
	    display: block;
	    margin-left: 6em;
	    padding-left: 5em;
	    position: absolute;
	    @media(max-width: $max-width--xs) {
			padding-left: 2em;
			margin-left: 0;
		}
		@media(max-width: $max-width--xss) {
			padding-left: 1.5em;
		}
	}
	.caption-heading {
		font-family: $heading-font-stack;
		font-weight: bold;
		font-size: 6em;
		line-height: 1.25;
		float: left;
		text-align: left !important;
		@media(max-width: $max-width--xss) {
			font-size: 3em !important;
		}
	}
	.caption {
		a {
			float: left;
			margin-top: 1.5em;
		    padding: 2em 0;
		    color: #ffffff;
		    font-size: 2em;
		    font-weight: bold !important;
		    background: transparent;
		    text-decoration: underline;
		    @media(max-width: $max-width--xs) {
		    	padding: 3em 0;
		    }
		}
	}
	.page-content {
		height: 0;
	}
	.article-section {
		h1 {
			font-size: 2em !important;
		}
		&__image-blocks {
			p {
				font-size: 1.2em !important;
			}
		}
		
	}
}

.template-default {
	.hero-gallery {
		.caption {
			.caption-heading {
				font-size: 4.8em;
    			max-width: 535px;
			    @media(max-width: $max-width--xss) {
			    	font-size: 3em;
			    }
			}
		}
	}
	.page-content {
		display: none;
	}
	&.page-disclaimer, &.page-privacy-policy {
		.page-content {
			display: block;
			padding: 10em 0;
			text-align: center;
			.heading {
				font-size:4em;
				margin-bottom: 1.2em;
				letter-spacing: 0.1em;
				text-transform: uppercase;
			}
			.wysiwyg-content {
				font-size: 1.31em;
				 p {
				 	strong {
				 		font-size: 2em;
				 		line-height: 2em;
				 	}
				 }
			}
		}
	}
}

.template-contact {
	.hero-gallery {
		.caption {
			.caption-heading {
				font-size: 4em;
			    letter-spacing: 0.1em;
			    text-transform: uppercase;
			    @media(max-width: $max-width--xss) {
			    	font-size: 2em;
			    }
			}
		}
	}
}

.template-projects {
	.hero-gallery {
		.slides {
			li {
				.overlay {
					display: none;
				}
				.caption {
					.caption-heading {
						font-size: 5em;
					    text-transform: uppercase;
					    @media(max-width: $max-width--xss) {
					    	font-size: 4em;
					    }
					}
				}
				&:first-of-type {
					.overlay {
						display: block;
					}
				}
			}
		}
		
	}
	.empty-gallery {
		color: #fff;
		height: 300px;
		padding: 10em 0;
		background-color: $black;
		p {
			font-size: 1.6em;
			text-align: center;
		}
	}
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
}



section {
	padding: 6em 0;
	color: $white;
	background: $white;
	&.contact {
		padding: 6em 0;
		.container {
			width: 100%;
			max-width: 750px;
			text-align: center;
			margin: 0 auto;
			h1 {
				text-transform: uppercase;
			}
			.wysiwyg-content {
				padding-bottom: 2em;
			}
			p {
				font-size: 1.3em;
				font-weight: bold;
				line-height: 36px;
			}
			input, select, textarea {
				color: #fff;
				font-size: 1em;
				background: transparent;
				border: 1px solid #fff;
				position: relative;
				&::placeholder {
					color: #fff;
				}
			}
			span {
				width: 100%;
				font-size: 1em;
				text-align: left;
				display: block;
    			padding-bottom: 20px;
			}
			.contact-row {
				input, select {
					width: 48%;
					float: left;
					height: 48px;
					margin-right: 30px;
					&:last-of-type {
						margin-right: 0;
					}
				}
				.custom-select {
					width: 48%;
					float: left;
					height: 48px;
					margin-left: 30px;
					&:after {
						color: #fff;
					}
					select {
						width: 100%;
					}
				}

			}
			.custom-select {
			    background-color: transparent;
			}
		}
		@media(max-width: $max-width--xs) {
			padding: 4em 0;
			.container {
				p {
					line-height: 24px;
				}
			}
		}
	}
}
.page-content {
	color: $white;
	background: $dark-grey;
}
.page-home .page-content .container {
	max-width: 1200px;
	margin: 0 auto;
}


/*OTHER PAGES*/

.page-services .hero-gallery, .page-services .hero-gallery .image-center, 
.page-services .hero-gallery .no-flexbox .flex-image-center, 
.page-services .no-flexbox .hero-gallery .flex-image-center,
.page-about .hero-gallery, .page-about .hero-gallery .image-center, 
.page-about .hero-gallery .no-flexbox .flex-image-center, 
.page-about .no-flexbox .hero-gallery .flex-image-center,
.page-contact .hero-gallery, .page-contact .hero-gallery .image-center, 
.page-contact .hero-gallery .no-flexbox .flex-image-center, 
.page-contact .no-flexbox .hero-gallery .flex-image-center, {
	height: 42.6vh;
	@media(max-width: $max-width--xs) {
		height: 20vh;
		padding-bottom: 0;
	}
}

li.header__menu-item.projects {
	padding: 0;
	margin: 0;
	background-color: transparent;
}

section#lifestyle {
    padding: 0;
    .image-text {
    	padding: 0;
    	.text {
    		display: none;
    	}
    }
}

section#interiors {
	.image-text {
		h1:first-child {
			display: none;
		}
	}
}

.article-section.full {
	height: 100vh!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    h1 {
    	color: #bd907c;
    }
}

.form {
	flex-wrap: wrap;
	justify-content: center;
	.inner-text {
		flex-wrap: wrap;
		margin: 0 auto !important;
	}
	.subheading {
		width: 100%;
		margin-bottom: 0 !important;
		color: #fff !important;
	}
	.details {
		font-family: $menu-font-stack;
		color: $white;
		font-size: 1em;
		line-height: 1.5em;
		max-width: 450px;
		margin: 2em auto;
		letter-spacing: 2px;
	}
	.container {
		max-width: 420px !important;
	}
	button {
		padding: 1em 2em;
		font-family: $menu-font-stack;
	}
	
}


.fullscreen-video-background {
  background: #000;
  position: absolute;
  width: 100%;
  z-index: -99;
	overflow: hidden;
	height: 100vh;
	
	._pattern-overlay { 
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0.3;
		bottom: 0;
		background-image: url(https://cdnjs.cloudflare.com/ajax/libs/vegas/2.3.1/overlays/03.png);
		z-index: 2;
	}
	
	#_buffering-background {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background: #222;
		z-index: 1;
	}
	
	#_youtube-iframe-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: absolute;
		height: 100%;
		
		#_youtube-iframe {
			position: absolute;
			pointer-events: none;
			margin: 0 auto;
			////
			height: 300vh; 
			width: 120vw;
		}
	}
}


.go-to {
	width: 100%;
	.fal {
		font-size: 24px;
	}
}



#popup1.overlay, #popup2.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
#popup1.overlay:target, #popup2.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 0 auto;
  padding: 20px;
  background: #dbc0ab ;
  border-radius: 5px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
  transition: all 5s ease-in-out;
  .container {
  	padding: 10em 0;
  	h2 {
  		color: #fff;
  		font-size: 3em;
  		text-align:  center;
  		font-weight: 300;
  		font-family: $primary-font-stack;
  		&:first-child {
  			padding-bottom: 1.5em;
  		}
  	}
  	.content {
	  	color: $black;
	  	font-family: "Pangram";
	  	font-weight: 400;
	  	max-width: 780px;
	  	margin: 0 auto;
	  	p {
	  		color: $black;
	  	}
	}
	img {
		display: block;
		margin: 8em auto 6em;
	}
  }

}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  	position: absolute;
	top: 65px;
	right: 30px;
	transition: all 200ms;
	font-size: 38px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.popup .copyright, .popup .links a {
	color: $white;
}
.popup .links a:first-child {
	border-right: 1px solid #fff;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


.page-thank-you {
	.article-section__multi-image {
		padding: 3em 0 1em;
		position: relative;
		.inner-text {
			max-width: 800px;
			.description {
				margin: 0 auto;
			}
		}
	}
	.description {
		position: absolute;
		bottom: 10px
	}
	footer {
		min-height: 70px;
		padding: 0;
		background-color: $beige;
		img, span, div, p {
			display: none;
		}
		.copyright {
			display: block;
			color: #fff;
		}
	}
	.images-wrapper {
		
		max-width: 250px !important;
		.half {
			max-width: 100px;
		}
	}
}
