.sticky-footer {
	display: none;
	left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: $brown;
    a {
    	width: 100%;
    	float: left;
    	padding: 0.75em;
    	text-align: center;
    	text-transform: uppercase;
    	&:first-of-type {
    		
    	}
    	i {
    		margin-right: 5px;
    	}
    }
	@media(max-width: $max-width--xss) {
		display: block;
	}
}



footer {
	color: $white;
	min-height: 529px; 
	padding: 6em 0;
	flex-wrap: wrap;
	background: $white;
	align-items: baseline;
    justify-content: center;
	@media(max-width: $max-width--md) {
		min-height: 250px;
	}
	.footer-top {
		margin: 0 auto;
		padding: 5em 0;
		svg {
		    max-width: 150px;
		    height: inherit;
		}
		@media(max-width: $max-width--xs) {
			padding: 3em 0;
			svg {
				height: 50px;
				width: 115px;
			}
			.footer-links {
				display: none;
			}
		}
		@media(max-width: $max-width--xss) {
			padding: 1em 0;
			svg {
				width: 82px;
				margin: 3em auto;
				display: block;
			}
			.footer-heading {
				text-align: center;
			}
			.contact-details {
				border-left: none !important;
    			text-align: center;
			}
			
		}
		.footer-heading {
			font-size: 1.31em;
			line-height: 1.56em;
			font-weight: bold;
			text-transform: uppercase;
		}
		.contact-details {
			padding-left: 20px;
			border-left: 2px solid $brown;
			ul {
				padding-left: 0;
				li {
					list-style: none;
					font-size: 1em;
					line-height: 1.5em;
					letter-spacing: 1.14px;
				}
			}
			.social-icons {
				    padding: 4em 0 0;
				    @include mobile(){
				    	max-width: 130px;
					    margin: 0 auto;
					    padding: 2em 0 0;
				    }
				li {
					float: left;
					width: 2em;
					margin: 0.4em;
					list-style: none;
					a {
						&:hover {
							color: $brown;
						}
						i {
							font-size: 1.8em;
						}
					}
				}
			}
		}
		
		.footer-links {
			padding-left: 20px;
			font-size: 1em;
			letter-spacing: 1.14px;
			border-left: 2px solid $brown;
			text-transform: uppercase;
			span {
				padding: 0.3em 0;
				font-weight: bold;
				line-height: 1.3em;
			}
			ul {
				padding-left: 0;
				max-width: 150px;
				margin-top: 0.3em;
				line-height: 1.3em;
				margin-bottom: 0;
				li {
					line-height: 24px;
					list-style: none;
					text-decoration: none;
					&:first-of-type {
						display: none;
					}
					&:last-of-type {
						line-height: 12px 0.5em ;
					}
					a {
						display: block;
						padding: 0.3em 0;
						&:hover {
							color: unset;
							text-decoration: none;
						}
					}
				}
			}
			
		}
	}
	.footer-bottom {
		padding: 5em 0;
		margin: 0 auto;
		text-align: left;
		@media(max-width: $max-width--xs) {
			padding: 3em 0;
		}
		@media(max-width: $max-width--xss) {
			text-align: center;
			padding: 1em 0 6em;
			.copyright {
				width: 100%;
				padding: 1em;
				text-align: center;
			}
			span {
				width: 100%;
				display: block;
				padding-bottom: 16px;
				a {
					&:first-of-type {
						border-left: 0;
					}
				}
			}
		}
		.copyright {
			float: left;
			margin-right: 20px;
		}
		span {
			float: left;
			a {
				padding: 0 10px;
				border-left: 1px solid #fff;
			}
		}

	}
	.center {
		max-width: 300px;
	}
	.half {
		max-width: 290px;
		margin: 3.5em;
	}

	span, p {
		width: 100%;
		color: #9b9b9b;
		display: block;
		text-align: center;
		font-family: "Pangram";
		 a {
		 	padding: 0 5px;
		 	color: #9b9b9b;
		 	text-transform: uppercase;
		 	&:first-child {
		 		border-right: 1px solid #9b9b9b;
		 	}
		 }
	}
	span {
		color: #8b8a8b;
		text-transform: uppercase;
		padding: 4em 0 0;
		font-family: $menu-font-stack;
	}
	.copyright {
		margin-top: 1em;
	}
}

