.flexslider-wrapper {
	overflow: hidden; // apply [.full-height-gallery] on html to get hero gallery full-height
	html.full-height-gallery & {
		height: 100%;
		.flexslider.hero-gallery {
			height: 100%;
			padding-bottom: 0;
			ul.slides,
			li {
				height: 100%;
				.image-center {
					padding-bottom: 0 !important;
					height: 100% !important;
				}
			}
		}
	}
	.flexslider {
		overflow: visible;
	}

}

.flexslider {
	margin: 0px;
	padding: 0px;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	background: $primary-background-colour none;
	min-height: 100px;
	overflow: hidden;
	.slides {
		background: $primary-background-colour none;
		li {
			position: relative;
		}
	} &:hover {
	.flex-prev,
	.flex-direction-nav .flex-prev {
		left: 0px;
		opacity: 1;
		padding-right: 1.5em;
	}
	.flex-next,
	.flex-direction-nav .flex-next {
		right: 0px;
		opacity: 1;
		padding-left: 1em;
		@media(max-width: $max-width--xss) {
			padding-left: 0;
		}
	} }
	.flex-direction-nav {
		width: 120px;
		right: 6em;
		bottom: 6em;
		position: absolute;
		@media(max-width: $max-width--xs) {
			right: 4em;
			bottom: 4em;
		}
		@media(max-width: $max-width--xss) {
			display: none;
		}
		a {
			height: 4em;
			width: 4em;
			margin-top: -2em;
			text-align: center;
			color: transparent;
			text-shadow: none;
			
			&:before {
				display: block;
				color: #ffffff;
				line-height: 1.333;
				text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
			}
			&.flex-next:before {
				content: "\f178";
				font-family: 'Font Awesome 5 Pro';
				font-weight: 300;
				font-size: 3em;
			}
			&.flex-prev:before {
				content: "\f177";
				font-family: 'Font Awesome 5 Pro';
				font-weight: 300;
				font-size: 3em;
			}
		}
	}
	.flex-control-nav {
		top: auto;
		bottom: 1em;
		right: 0px;
		left: 0px;
		display: none;
		z-index: 10;
		line-height: 1;
		li {
			margin-left: 0.375em;
			margin-right: 0.375em;
			a {
				width: 10px;
				height: 10px;
				background: #ffffff;
				-o-box-shadow: none;
				-moz-box-shadow: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				border-radius: 0;
				&.flex-active {
					background: $primary-colour;
					-o-box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
			}
		}
	}
	.slides>li .image-center {
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		&>img {
			display: none;
		}
	}
}

html.ie9 .flexslider .flex-direction-nav {
	a.flex-next:before {
		font-size: 64px;
	}
	a.flex-prev:before {
		font-size: 64px;
	}
}

html.no-backgroundsize .flexslider .slides>li .image-center {
	background-image: none !important;
	&>img {
		display: block;
	}
}

$home-gallery-pd-btm: 40%;
$home-gallery-pd-btm--tablet: 65%;

$gallery-pd-btm: 15.625%;
$gallery-pd-btm--tablet: 65%;

.hero-gallery {
	color: #fff;
	&, & .image-center {
		padding-bottom: $gallery-pd-btm;
		height: 100vh;

		@include tablet() {
			padding-bottom: $gallery-pd-btm--tablet;
		}

		.template-home & {
			padding-bottom: $home-gallery-pd-btm;

			@include tablet() {
				padding-bottom: $home-gallery-pd-btm--tablet;
			}
		}
	}
	&__overlay {
		display: block;
		position: absolute;
		top: 50%;
		right: 0px;
		bottom: 0px;
		left: 0px;
		opacity: 0.65;
		background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, #000000 100%);
	}
	.hero-gallery-video,
	.hero-gallery-big-video,
	#big-video-container,
	#big-video-wrap {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
	.hero-gallery-big-video-skip,
	.hero-gallery-big-video-play,
	.hero-gallery-big-video-pause {
		display: none;
		position: absolute;
		bottom: 0px;
		right: 48px;
		z-index: 99;
		cursor: pointer;
		padding: 1em 1em 0.875em 1em;
		color: #ffffff;
		text-transform: uppercase;
		background-color: rgba(0, 0, 0, 0.45);
		text-decoration: none;
		line-height: 1;
	}
	.hero-gallery-big-video-pause {
		right: auto;
		left: 0px;
	}
	.slides li>a {
		display: block;
		position: relative;
	}
	
	.caption {
		display: block;
		position: absolute;
		top: 2.5em;
		bottom: 0;
		left: 0px;
		right: 0px;
		z-index: 5;
		width: 100%;
    	max-width: 1800px;
		color: #ffffff;
		margin: auto;
		text-align: center; 
		.main-logo {
			justify-content: center;
			img {
				max-width: 400px;
			}
		}
		@media(max-width: 1440px) {
			max-width: 1200px;
		} 
		@media(max-width: $max-width--xss) {
			width: 100% !important;
		    padding-left: 2rem;
		    padding-right: 2rem;
		} 

		@media(max-width: $max-width--md) {
			max-width: $max-width--sm;
		}

		@media(max-width: $max-width--xs) {

		&--top-left {
			text-align: left;
			.valign {
				vertical-align: top;
			}
		}
		&--top-center {
			text-align: center;
			.valign {
				vertical-align: top;
			}
		}
		&--top-right {
			text-align: right;
			.valign {
				vertical-align: top;
			}
		}
		&--middle-left {
			text-align: left;
			.valign {
				vertical-align: middle;
			}
		}
		&--middle-center {
			text-align: center;
			.valign {
				vertical-align: middle;
			}
		}
		&--middle-right {
			text-align: right;
			.valign {
				vertical-align: middle;
			}
		}
		&--bottom-left {
			text-align: left;
			.valign {
				vertical-align: bottom;
			}
		}
		&--bottom-center {
			text-align: center;
			.valign {
				vertical-align: bottom;
			}
		}
		&--bottom-right {
			text-align: right;
			.valign {
				vertical-align: bottom;
			}
		} 
	}
		.caption-heading {
			font-family: $heading-font-stack;
			font-size: 5em;
			margin: -20px auto;
			@media(max-width: $max-width--xs) {
				margin: -10px auto; 
			    line-height: 1;
			}
			@media(max-width: $max-width--xss) {
				max-width: 300px !important;
				margin: -8px auto; 
				line-height: 48px;
			}
		}
		.caption-description {
			font-size: 1.9em;
		    max-width: 350px;
		    text-align: center;
		    margin: 2em auto 0;
			@media(max-width: $max-width--xs) {
				font-size: 1.2em;
    			max-width: 160px !important;
			}
		}
		.valign-parent {
			padding-top: 14em;
			@media(max-width: $max-width--xs) {
				padding-top: 8em;
			}
		}
		a {
			clear: both;
		    position: absolute;
		    bottom: 2em;
		    left: 0;
		    text-transform: uppercase;
		    font-size: 0.9em !important;
		    font-family: $menu-font-stack;
		    letter-spacing: 2px;
		    &:hover {
		    	color: $beige;
		    	.fas {
		    		margin-top: 0.8em;
		    	}
		    }
		    .fas {
		    	font-size: 2.1em;
		    	display: block;
		    	font-weight: 500;
		    	margin-top: 0.5em;
		    	transition: all 0.5s;
		    }
			@media(max-width: $max-width--xss) {
				margin-top: 1.5em;
				font-size: 0.7em !important; 
			}
		}
	}
}

html.touch .hero-gallery .hero-gallery-big-video-play {
	display: block;
}

@media(max-width: $max-width--xs) {
	.hero-gallery {
		padding-bottom: 0px;
		height: 100vh;
	}
	.hero-gallery .caption,
	.hero-gallery .caption .valign,
	.hero-gallery .caption .caption-heading,
	.hero-gallery .caption .caption-description,
	.hero-gallery .caption .caption-link {
		max-width: 100%;
		width: 100%;
	}
	.hero-gallery .caption .valign {
		padding: 0px;
	}
	.hero-gallery .caption .caption-link {
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
		width: auto;
	}
	.hero-gallery .image-center,
	.hero-gallery #big-video-container,
	.hero-gallery .placeholder {
		padding-bottom: 62.5%;
		height: 100vh;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	.hero-gallery .placeholder {
		display: block;
		width: 100%;
		position: static;
	}
	.hero-gallery .caption .main-logo img {
	    max-width: 200px;
	}
	.article-section__image-text .image-text.video .text .inner-text .subheading {
	    font-size: 1.8em !important;
	    line-height: 32px !important;
	}
	.article-section__image-text .image-text.video .text {
	    padding: 3em;
	}
}

.flexslider.byheight {
	height: 100%;
	.slides,
	li {
		height: 100%;
	}
}

.fancybox-enlarge {
	position: relative;
	&:before {
		content: "\f00e";
		font-family: "FontAwesome";
		font-size: 2em;
		color: $white;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
}