.header {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
	z-index: 999;
	text-align: center;
	background-color: transparent;
	@include transition(.35s, 0s);
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 90px;
		background: $white;
		opacity: 0;
		@include transition(.3s, 0s);
	}
	&__navigation {
		position: relative;
		z-index: 1;
		width: 100%;
		margin: 0 auto;
		max-width: $container-width-xl;
	}
	&__logo {
		display: block;
		width: 172px;
    	height: 86px;
		position: absolute;
		top: .8em;
		left: 3em;
		z-index: 1;
		@media(max-width: 1199px) {
			width: 150px;
		}
		svg {
			width: 100%;
		}
	}
	&__nav-toggle {
		display: none;
	}
	&__menu-wrap {
		float: right;
		padding: 2em 0;
		@media(max-width: $max-width--xs) {
			width: 100%;
		    height: 100vh;
		    z-index: 999;
		    top: 0;
		    left: 0;
		    padding: 0;
		    position: absolute;
		    background-color: transparent;
		}
	}
	&__menu-item {
		height: 30px;
		border-right: 1px solid $brown;
		display: inline-block;
		&:last-child {
			border-right: 0;
		}
		&.home {
			display: none;
		}
		@media(max-width: $max-width--xs) {
			line-height: 2.5em;
		}
		&--home {
			display: none;
		}
		&>a {
			display: inline-block;
			padding: 0.3em 1.5em;
    		height: 30px;
			font-family: $heading-font-stack;
			color: $white;
			font-size: 0.9em;
  			font-weight: normal;
  			font-stretch: normal;
  			font-style: normal;
  			line-height: normal;
  			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			@include transition(.25s, 0s);
			@media(max-width: $max-width--lg) {
				padding: 0.7em 1.5em;
			}
			@media(max-width: $max-width--md) {
				padding: 0.7em 1.5em;
			}
			@media(max-width: $max-width--xs) {
				font-size: 25px;
			}
		}
		@media(max-width: $max-width--xs) {
			border-right: 0;
		}
	}
	&__contacts {
		position: absolute;
		top: 1.5em;
		right: 1em;
		z-index: 1;
		color: $white;
		@media(max-width: 1199px) {
			top: 1.7em;
		}
	}
	&__contact {
		display: inline-block;
		padding: 0 1em 0 .5em;
		font-family: $heading-font-stack;
		font-size: 1em;
		letter-spacing: 0.36px;
		color: $white;
		@include transition(.25s, 0s);
	}
	&__contact-icon {
		color: $black;
	}
	&__dropdown {
		display: inline-block;
		margin-left: .5em;
	}
	&__submenu {
		padding: 0;
		list-style: none;
		display: none;
		position: absolute;
		top: 88px;
		right: 0;
		bottom: auto;
		left: calc((100vw - 1140px)/-2);
		z-index: 1;
		width: 100vw;
		background-color: $light-grey;
		color: $dark-grey;
		opacity: 0;
		@include transition(.25s, 0s);
		.header__menu-item:hover>& {
			display: block;
			opacity: 1;
			@include transition(.25s, 0s);
		}
	}
	&__submenu-item {
		display: inline-block;
		padding: 1.5em 2em;
		text-align: center;
	}
	&__menu-item,
	&__submenu-item {
		&.active>a {
			text-decoration: none;
			color: $brown;
		}
	}
	&__socials {
		display: none;
		text-align: center;
	}
	&__social {
		display: inline-block;
		padding: .5em;
		color: $white;
	}
	/** on scroll **/
	&--scroll {
		.header {
			height: 72px;
			background: $black;
			&__logo {
				top: 0;
				height: 70px;
				width: 140px;
				svg {
					width: 113px;
					height: 70px;
				}
			}
			&__menu-wrap {
				padding: 1.25em;
			}
		}
		@media(min-width: 768px) {

		}
		@include transition(.3s, 0s);
	}
	/** END on scroll **/
}


.navbar-nav {
  width: 100%;
}

.navbar-nav li.nav-item {
  width: 20%;
  color: $brown;
  font-family: $menu-font-stack;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.mobile-nav {
	display: flex;
	align-items: center;
	a {
		width: 50%;
		border: 0;
		padding: 0.5em;
		font-size: 1em;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		font-family: $menu-font-stack;
		&.reg {
			display: none;
			color: #bd907c;
			background-color: $lightbeige;
		}
	}
}



/** Mobile **/

@media(max-width: 980px) {
	.header {
		&__logo {
			left: 0;
			top: 0;
			width: 115px;
			svg {
				width: 80px;
				height: 75px;
			}
		}
	}
	.navbar {
		padding: 0;
	}
	.navbar-nav {
	    
	}
	.navbar-collapse {
		height: 100vh;
		display: flex;
	}
	.mobile-nav {
    	width: 100%;
    }
	.mobile-nav a.reg { 
		display: block !important;
	}
	.nav-link {
	    padding: 1rem;
	}
}


@media(max-width: 768px) {
	.header {
		background: transparent;
		/*@include transition-on(background, .35s, 0.15s);*/
		&__contacts {
			display: none;
		}
		
		&--scroll {
			.header {
				height: 72px;
				background: $black;
				&__logo {
					top: 0;
					z-index: 7;
					svg {
						width: 80px;
						
					}
				}
			}
		}
		&__navigation {
			z-index: 6;
			position: absolute;
			padding: 0;
			min-height: 55px;
		}
		&__menu-wrap {
			max-height: 0;
			height: 100%;
			position: relative;
			top: 55px;
			transform: translateY(-460px);
			@include transition(.25s, 0s);
		}
		&__menu-item {
		    height: 50px;
			display: block;
			&>a {
				display: block;
				color: $white;
			}
			&.home {
				display: block;
			}
		}
		&__dropdown {
			float: right;
			margin: 0;
			position: relative;
			right: 2em;
			z-index: 1;
			@include transition(.2s, 0s);

			.header__menu-item.open & {
				transform: rotate(-180deg);
			}
		}
		&__submenu {
			position: static;
			display: none;
			background-color: rgba(255, 255, 255, 0.15);
			.header__menu-item:hover>& {
				display: none;
			}
			.header__menu-item.open>& {
				display: block;
			}
		}
		&__submenu-item {
			text-align: center;
		}
		&__submenu-item>a {
			color: $white;
		}
		&__nav-toggle {
			display: block;
			float: right;
			z-index: 10;
    		position: absolute;
			top: 2em;
			right: 2em;
			margin: 0;
			text-align: center;
			color: $black;
			-o-border-radius: 0px;
			-moz-border-radius: 0px;
			-webkit-border-radius: 0px;
			-ms-border-radius: 0px;
			border-radius: 0px;
			&__bars-wrap {
				position: relative;
				display: inline-block;
				width: 25px;
				height: 24px;
			}

			&__bars {
				position: absolute;
				width: 25px;
				height: 2px;
				top: 50%;
				display: block;
				margin-top: -2px;
				transition-property: transform;
				border-radius: 4px;
				background-color: $primary-colour;
				transition-timing-function: cubic-bezier(.55, .055, .675, .19);
				transition-duration: 75ms;

				&:before,
				&:after {
					display: block;
					content: "";
					position: absolute;
					width: 25px;
					height: 2px;
					border-radius: 4px;
					background-color: $primary-colour;
				}

				&:before {
					top: -8px;
					transition: top 75ms ease .12s, opacity 75ms ease;
				}

				&:after {
					bottom: -8px;
					transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
				}
		}
		
		
		}
	}
	.menu-open {
		/** Navigation toggled open **/
		.header {
			background: #000000;
			bottom: 0;
			@include transition-on(background, .35s, 0s);
			&__menu-wrapper {
				top: 0;
			    height: 100vh;
			    display: flex;
			    padding: 0;
			    margin: 0;
			    width: 100%;
			    position: absolute;
			    align-items: center;
			    background: #000;
			}
			&__menu-wrap {
				max-height: 300px;
    			top: 0;
				transform: translateY(0);
				@include transition(.25s, 0s);
			}
			&__nav-toggle {
				&__bars {
					transition-delay: .12s;
					transition-timing-function: cubic-bezier(.215, .61, .355, 1);
					transform: rotate(45deg);
					&:before {
						top: 0;
						transition: top 75ms ease,
						opacity 75ms ease .12s;
						opacity: 0;
					}
					&:after {
						bottom: 0;
						transition: bottom 75ms ease,
						transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
						transform: rotate(-90deg);
					}
				}
			}
			&__socials {
				display: block;
				position: absolute;
				right: 0;
				bottom: 4em;
				left: 0;
				z-index: 1;
			}
		}
	}
	.navbar-nav li.nav-item {
	    width: 100% !important;
	}
}



/*Header with video background*/

html {
	scroll-behavior: smooth;
}

a:hover {
	text-decoration: none;
}

header h2 {
	font-size: 70px;
    font-weight: 200;
    max-width: 550px;
    margin: 80px auto 0;
    text-transform: lowercase;
}

header p {
    font-size: 30px;
    font-weight: 300;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 100px;
}
header a.go-to {
	color: #fff;
	font-size: 12px;
    position: absolute;
    bottom: 20px;
}

header a.go-to svg { 
	clear: both;
	display: block;
	margin:0 auto;
	width: 20px;
}


.container {
	max-width: 1200px !important;
}

.main-banner {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-image: url(/assets/images/photo2.jpg);
}

header .main-overlay {
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  width:100%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  opacity: 1;
  transition: 0.5s opacity;
  transition-delay: 1s;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

h1 span {
    clear: both;
    display: block;
    font-size: 14px;
    margin-top: 30px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header h2 {
    font-size: 70px;
    font-weight: 200;
    max-width: 550px;
    margin: 80px auto 0;
    text-transform: lowercase;
}

header p {
    font-size: 30px;
    font-weight: 300;
    max-width: 360px;
    margin: 0 auto;
    margin-top: 100px;
}


@media(max-width: 480px) {
	.navbar {
		padding:0;
	}
	.header {
		&--scroll {
			.header__logo {
				width: 115px;
			}
		}
	}
}






/** END Mobile **/