html, body {
	font-family: $primary-font-stack;
	font-size: $font-size--body-lg + unquote("px"); 
	line-height: $line-height--body-lg / $font-size--body-lg;
	color: $primary-font-colour;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	

	@media (max-width: $max-width--xs)  { font-size: $font-size--body-xs + unquote("px");}
	@media (min-width: $min-width--sm)  { font-size: $font-size--body-sm + unquote("px");}
	@media (min-width: $min-width--md)  { font-size: $font-size--body-md + unquote("px");}
	@media (min-width: $min-width--lg)  { font-size: $font-size--body-lg + unquote("px");}
} 




h1, .h1 {
	font-size: $font-size--h1 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h1 / $font-size--h1;
}

h2, .h2 {
	font-size: $font-size--h2 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h2 /$font-size--h2;
}
h3, .h3 {
	font-size: $font-size--h3 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h3 / $font-size--h3;
}
h4, .h4 {
	font-size: $font-size--h4 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h4 / $font-size--h4;
}
h5, .h5 {
	font-size: $font-size--h5 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h5 / $font-size--h5;
}
h6, .h6 {
	font-size: $font-size--h6 / $font-size--body-lg + unquote("rem");
	line-height: $line-height--h6 / $font-size--h6;
}

@media (max-width: $max-width--xs) {
	h1, .h1 {
		font-size: $font-size--h2 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h2 / $font-size--h2;
	}

	h2, .h2 {
		font-size: $font-size--h3 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h3 /$font-size--h3;
	}
	h3, .h3 {
		font-size: $font-size--h4 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h4 / $font-size--h4;
	}
	h4, .h4 {
		font-size: $font-size--h5 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h5 / $font-size--h5;
	}
	h5, .h5 {
		font-size: $font-size--h6 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h6 / $font-size--h6;
	}
	h6, .h6 {
		font-size: $font-size--h6 / $font-size--body-lg + unquote("rem");
		line-height: $line-height--h6 / $font-size--h6;
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family:  $heading-font-stack;
	margin-top: 0;
	margin-bottom: 0.75em;
	font-weight: bold;
	letter-spacing: 1px;
} 

a {

	color: $primary-colour;
	@include add-transition();

	&:hover,
	&:active,
	&:focus {
		outline: none !important;
		cursor: pointer;
		text-decoration: none;
	}
}

p {
	margin: 0px 0px 1em 0px;
}
