.animateMe {
  opacity: 0;
  animation-delay: 0.5s; }

.animateMe.animated {
  opacity: 1; }

.animate {
  animation-delay: 1s;
  animation-timing-function: ease-in; }

/*.fadeIn {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}*/
.projects__project {
  animation: fadeIn 0.5s ease-in 0.5s forwards; }

.article-section__image-text .image-text {
  animation: fadeIn 1.5s ease-in 1.5s forwards; }

.projects__project,
.article-section__image-text .image-text {
  opacity: 0; }
  .projects__project:nth-child(1),
  .article-section__image-text .image-text:nth-child(1) {
    animation-delay: 0.3s; }
  .projects__project:nth-child(2),
  .article-section__image-text .image-text:nth-child(2) {
    animation-delay: 0.8s; }
  .projects__project:nth-child(n+3),
  .article-section__image-text .image-text:nth-child(n+3) {
    animation-delay: 1s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=../../maps/components/animation.css.map */
