// Max-width (inclusive)
$max-width--xss: 480px;
$max-width--xs: 768px;
$max-width--sm: 991px;
$max-width--md: 1199px;
$max-width--lg: 1999px;

// Min-width (exclusive)
$min-width--sm: 768px;
$min-width--md: 992px;
$min-width--lg: 1920px;
$min-width--xl: 2000px;

$container-width-xs: 100% !important;
$container-width-sm: 720px;
$container-width-md: 940px;
$container-width-lg: 1120px;
$container-width-xl: 1920px;