$black: #3b3b3c;
$white: #ffffff;
$brown: #ae9853;
$light-grey: #f0f0f1;
$dark-grey: #8b8983;
$input-grey: #808080;
$beige: #dbc0ab;
$lightbeige: #f6efea;

$primary-colour: $white;
$primary-font-colour: $black;
$heading-font-colour: $black;
$primary-button-font-colour: $black;
$secondary-button-font-colour: $black;

$primary-background-colour: $black;

$primary-button-background-colour: $white;
$secondary-button-background-colour: $dark-grey;

$primary-button-background-colour--hover: rgba(245, 245, 245, 0.3);
$secondary-button-background-colour--hover: rgba(245, 245, 245, 0.3);

$input-font-colour: $white;
$input-background-colour: transparent;
$input-border-colour: $white;
$input-placeholder-colour: $white;

