@import "https://use.typekit.net/itc8ipd.css";

/*** FONT AWESOME 5 ***/
// import one or more styles 
@import "vendors/fontawesome-5/fa-light";
@import "vendors/fontawesome-5/fa-regular";
@import "vendors/fontawesome-5/fa-solid";
// @import "vendors/fontawesome-5/fa-brands";
@import "vendors/fontawesome-5/v4-shims";
/*** END FONT AWESOME 5 ***/

// An example for your convenience
/*@font-face {
  font-family: "xxx";
  src: url("../fonts/xxx/xxx.eot?#iefix");
  src: url("../fonts/xxx/xxx.eot?#iefix") format("eot"),
    url("../fonts/xxx/xxx.woff2") format("woff2"),
    url("../fonts/xxx/xxx.woff") format("woff"),
    url("../fonts/xxx/xxx.ttf") format("truetype"),
    url("../fonts/xxx/xxx.svg#xxx") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "Maleah-Regular";
  src: url("../fonts/Malea-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Maleah-Light";
  src: url("../fonts/Malea-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MonumentExtended-Ultralight";
  src: url("../fonts/MonumentExtended-Ultralight.otf") format("otf");
}

@font-face {
  font-family: "Pangram";
  src: url("../fonts/Pangram-Regular.otf") format("otf");
}